/* Dashboard page */

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}


.min-h-screen {
    background-image: url("../images/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
}

.borderyellow {
    border-bottom: solid #dd7f1e 5px;
}

.dashboard-title h1 {
    font-size: 26px !important;
    font-weight: bold !important;
    color: black;
}

.dashboard-title span {
    color: #949d99;
}

.completeprofile {
    margin: auto;
    width: 60%;
    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
}

.completeprofile h1 {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.completeprofile a {
    color: #48695c;
}

.filterbtn {
    background-color: white;
    border-radius: 20px;
    border: white;
    font-weight: bold;
}

.filterbtn:hover {
    background-color: #48695c;
}

.filterbtn:focus {
    background-color: #48695c;
    color: white;
}

.all:focus {
    background-color: #48695c;
    border: transparent;
    color: white;
}

.dashboardtitle h2 {
    font-size: 26px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.dashboardtitle span {
    margin-right: 120px;
    font-size: 26px;
}

.card {
    border: white solid !important;
}


.img-thumbnail {
    margin-top: -60px;
    margin-left: 10px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.count {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 15px;
    margin-top: -40px;
    background-color: #48695c !important;
    color: white !important;
    font-weight: bold;
    opacity: 1 !important;
    border: #48695c;
}

.count p {
    font-size: 7.5px;
}

.textyellow {
    color: #dd7f1e;
    font-weight: 500;
}

.projectname {
    font-size: 24px;
    margin-top: -40px;
    font-weight: bold;
}

.semicircle {
    height: 40px;
    width: 80px;
    border-radius: 150px 150px 0 0;
    background-color: #48695c !important;
    font-size: 10px;
    padding-top: 20px;
}

.lookingfor {
    font-weight: 600;
}

.show-more {
    margin-right: 50px;
    margin-top: 20px;
    font-size: 10px;
    color: #dd7f1e;
}

.imin {
    padding-left: 70px !important;
    padding-right: 70px !important;
    margin-right: 30px;
    background-color: #48695c;
}

.nav-profile .nav-picture {
    border-radius: 50%;
    height: 63px;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    object-fit: cover;
}

.projecttitle h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
}

.projecttitle span {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
}

.projecttitle img {
    width: 30px !important;
    margin-top: 10px;
    margin-left: 10px;
}

.container div {
    flex: 1;
    display: flex;
}

.createtitle {
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
}

.input {
    position: relative;
    color: black;
    margin-left: 20px;
    margin-bottom: 30px;
}

.input::before {
    position: absolute;
    border-radius: 3px;
    background: black;
    height: 6px;
    content: "";
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 25px;
    width: 270px;
}

.text-line {
    background-color: #f6f6f6;
    color: black;
    font-weight: bold;
    display: block;
    outline: none;
    border: none;
    width: 270px;
}

.text-line:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f6f6f6;
}

*:focus {
    outline: none;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
    color: #f6f6f6;
    font-size: 18px;
    font-weight: bold;
}

.createdesc {
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.createtextarea {
    margin-left: 20px;
    margin-top: 20px;
    height: 300px;
    border: none;
    background-color: #f6f6f6;
    resize: none;
}

.createtextarea:focus {
    background-color: #f6f6f6;
    outline: none;
}

textarea:focus::placeholder {
    color: transparent;
    background-color: #f6f6f6;
}

.nav-profile {
    margin-right: 30px;
}

.createtitle {
    margin-right: 0;
    margin-left: 0;
    padding-left: 30px;
}

.academiescheck {
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border: none;
}

.academiescheck label {
    cursor: pointer;
    flex-basis: 20% !important;
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 0;
    border-radius: 10px;
    font-weight: bold;
}

.btn-default {
    color: #000000 !important;
    background-color: white !important;
}

[type="checkbox"] {
    border-radius: 0px;
    visibility: hidden;
}

.btn-selected {
    background-color: #48695c;
    color: white;
    font-weight: bold;
}

.btn-default2 {
    color: #000000 !important;
    background-color: white !important;
}

.btn-selected2 {
    background-color: #48695c;
    color: white;
    font-weight: bold;
}

.container-fluid {
    height: 100%;
}

.container-fluid .create {
    height: 100vh;
}

.yellowp {
    color: #dd7f1e;
    font-weight: 500;
    text-align: end;
    padding-right: 80px;
    padding-top: 30px;
}

.editbtn {
    text-align: end;
    padding-right: 80px;
    padding-top: 100px;
}

.edit {
    padding: 10px 80px;
    background-color: #48695c;
    border-radius: 10px;
    color: white;
}

.cardicons {
    display: flex;
    flex-direction: column;
}

.wholecard {
    display: flex;
    width: 100%;
}

.card {
    width: 100%;
}

.editdelete {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin-bottom: 50px;
    margin-left: 5px;
    visibility: hidden;
}

.wholecard:hover > .editdelete {
    visibility: visible;
}

.show {
    display: block;
    width: max-content;
    margin-left: auto;
    cursor: pointer;
    text-decoration: underline;
    font-size: 10px;
}

.t-orange {
    color: #dd7f1e !important;
}


.container-fluid .myprofile {
    min-height: calc(100vh - 70px);
    background-color: #f6f6f6;
}

.myprofile{
    display: flex;
    flex-direction: row;
}


.profile-left{
    flex-direction: column;
}

.prof-row{
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.half{
    flex:1;
}

.pic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 50px;

}

.pic label{
    font-size: 15px;
    font-weight: 500;
}

.prof-detail{
    margin-left: -30px;
}

.prof-detail strong{
    color: gray;
}

.prof-detail textarea{
    width: 700px;
}

.margin-prof{
    margin-top: 100px !important;
}

.prof-name .left{
    margin-left: -50px;
}

.prof-name input{
    margin-left: 15px;
}


.skillscheck{
    overflow-y: scroll;
    height: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    background-color:#f6f6f6;
    margin-bottom: 10px;
    border:none;
    margin-top: 30px;
    margin-left: -30px;
}

.skillscheck label{
    height: 110px;
    flex-basis: 20%;
    white-space:normal;
    height: 110px;
    cursor: pointer;
    padding: 30px 0;
    border-radius: 10px;
    font-weight: bold;
    min-width: 100px;
    margin: 1%;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.academieprofscheck {
    height: 250px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap !important;
    background-color:#f6f6f6;
    margin-bottom: 10px;
    border:none;
    margin-left: -30px;
}

.academieprofscheck label{
    flex-basis: 20%;
    white-space:normal;
    height: 110px;
    cursor: pointer;
    padding: 30px 0;
    border-radius: 10px;
    font-weight: bold;
    min-width: 100px;
    margin: 1%;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #dd7f1e;

  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dd7f1e;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #dd7f1e;
  }

  .assembly-container{
    min-height: calc(100vh - 70px);
    background-color: #f6f6f6;
  }

  .smalltext{
      font-weight: 500;
      color: #949d99;
  }

  .rightarrow{
      margin-left: 50px;
      margin-top: 10px;
  }

  .appleft{
      padding-right: 60px !important;
      margin-top: 20px;
  }

  .img-thumbnail1 {
    margin-top: -100px;
    margin-left: 50px;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: white 10px solid;
    object-fit: cover;
}

.assembly-name{
    font-weight: bold;
}

.assembly-proffesion{
    font-weight: bold;
    color: #dd7f1e;
    font-size: 14px;
    margin-top: 15px;
}

.assembly-email{
    font-size: 10px;
    font-weight: 600;
}

.assembly-button{
    background-color: #dd7f1e;
    padding: 10px 5px;
    color: white;
}

.graytitle{
    color: #949d99;
    font-weight: bold;
}

.boldtitle{
    font-weight: bold;
}

.graybio{
    color: #949d99;
    font-weight: 600;
}

.skillsshow{
    height: 250px;
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    background-color:#f6f6f6;
    margin-bottom: 10px;
    border:none;
    margin-top: 30px;
    margin-left: -30px;
}

.skillsshow label{
    height: 110px;
    flex-basis: 20%;
    white-space:normal;
    height: 110px;
    cursor: pointer;
    padding: 30px 0;
    border-radius: 10px;
    font-weight: bold;
    min-width: 100px;
    margin: 1%;
    font-size: 13px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-bold{
    font-weight: bold;
    font-size: 15px;
}


@media only screen and (max-width: 600px) {
    .academies {
        display: flex;
        flex-direction: column;
    }
    .container-fluid {
        flex-direction: column !important;
    }

    .myprofile{
        display: flex;
        flex-direction: column;
    }

    .prof-row{
        width: 100%;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .margin-prof{
        margin-top: 50px !important;
    }

    .prof-name .left{
        margin-left: 100px;
    }

    .prof-detail textarea{
        width: 100%;
    }

    .pic img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 100px;

    }

    .profile-details{
        flex-direction: column;
    }

    .pic label{
        text-align: center;
        margin-left: 30px !important;
    }

    .prof-detail{
        margin-left: 0px;
    }

    .prof-name .left{
        margin-left: -30px;
    }

    .prof-name input{
        margin-left: 15px;
    }

    .skillsshow{
        overflow-y: scroll;
        height: 250px;
        width: 100%;
        display: flex;
        flex-wrap: wrap !important;
        background-color:#f6f6f6;
        margin-bottom: 10px;
        border:none;
        margin-top: 30px;
        margin-left: -30px;
    }

}

@media (min-width: 601px) and (max-width: 767px) {
    .container-fluid {
        flex-direction: column !important;
    }

    .myprofile{
        display: flex;
        flex-direction: column;
    }

    .prof-row{
        width: 100%;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .margin-prof{
        margin-top: 50px !important;
    }

    .prof-name .left{
        margin-left: 100px;
    }

    .prof-detail textarea{
        width: 100%;
    }

    .pic img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        margin-left: 50px;

    }

    .nav-profile .nav-picture {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
    .myprofile{
        display: flex;
        flex-direction: column;
    }

    .prof-row{
        width: 100%;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .margin-prof{
        margin-top: 50px !important;
    }

    .prof-name .left{
        margin-left: 100px;
    }

    .prof-detail textarea{
        width: 100%;
    }
    .img-thumbnail1 {
        margin-top: -50px;
        margin-left: 25px;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: white 10px solid;
        object-fit: cover;
    }

}

@media (min-width: 1024px) and (max-width: 1440px) {
    .myprofile{
        display: flex;
        flex-direction: column;
    }

    .prof-row{
        width: 100%;
        padding-top: 50px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .margin-prof{
        margin-top: 50px !important;
    }

    .prof-name .left{
        margin-left: 100px;
    }

    .prof-detail textarea{
        width: 100%;
    }
    .img-thumbnail1 {
        margin-top: -80px;
        margin-left: 40px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: white 10px solid;
        object-fit: cover;
    }

}


