@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Login page  */

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

.bglogin {
    background-image: url("../images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.container div {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.title span {
    color: #949d99;
}

.one p {
    font-size: 36px;
    margin-top: 10px;
}

.two {
    margin-top: 5%;
}

.login {
    font-size: 36px;
    font-weight: 600;
    margin-right: 130px;
}

.two .input {
    position: relative;
    color: black;
    width: 270px;
}

.two .input::before {
    position: absolute;
    border-radius: 3px;
    background: black;
    height: 6px;
    content: '';
    bottom: 0;
    right: 0;
    left: 0;
    margin-left: 25px;
}

.two .text-line {
    background-color: #f6f6f6;
    color: black;
    font-weight: bold;
    display: block;
    outline: none;
    border: none;
    width: 100%;
}

.two .text-line:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #f6f6f6
}

*:focus {
    outline: none;
}

input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

::placeholder {
    color: #f6f6f6;
    font-size: 18px;
    font-weight: bold;
}

.two .loginbtn {
    background-color: #dd7f1e;
    padding: 7px 40px;
    font-weight: bold;
    margin-left: 120px;
}

.two p {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    margin-left: 15px;
}

.two p a {
    text-decoration: underline;
}


/* Register page  */

.bgregister {
    background-image: url("../images/2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.register div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.registertitle {
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 30px;
}

.row {
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: baseline !important;
    margin-left: 40px;
    margin-top: -40px;
}

.row .two .input::before {
    margin-left: 10px;
}

.biography {
    font-size: 26px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 80px;
    color: #949d99;
}

.biotext {
    font-size: 24px;
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 30px;
    word-spacing: 5px;
    color: #949d99;
    margin-bottom: 100px;
}

.registerbtn {
    padding: 20px 90px !important;
    background-color: #48695c !important;
    margin-left: 50px !important;
    font-size: 15px !important;
}

@media only screen and (max-width: 600px) {
    .bglogin {
        flex-direction: column;
    }
    .title {
        font-size: 26px !important;
        margin-top: 100px;
    }
    .one p {
        font-size: 20px !important;
    }
    .bgregister {
        flex-direction: column;
    }
    .register {
        flex-direction: column;
    }
    .registertitle {
        font-size: 36px;
        margin-bottom: 0;
    }
    .row {
        flex-direction: column !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
        margin-top: 0.5px;
    }
    .row1 {
        display: none;
    }
    .biography {
        display: none;
    }
    .biotext {
        display: none !important;
    }
    .registerbtn {
        padding: 20px 50px !important;
        margin-top: 50px !important;
    }
}

@media (min-width: 601px) and (max-width: 767px) {
    .bglogin {
        flex-direction: column;
    }
    .title {
        font-size: 30px;
        margin-top: 100px;
    }
    .one p {
        font-size: 26px;
    }
    .biography {
        font-size: 24px;
    }
    .biotext {
        font-size: 20px !important;
    }
    .registerbtn {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 1024px) {
    .title {
        font-size: 42px;
    }
    .one p {
        font-size: 30px;
    }
    .biography {
        font-size: 24px !important;
    }
    .biotext {
        font-size: 20px !important;
        margin-right: 0;
    }
    .registerbtn {
        margin-top: -50px;
    }
}

@media only screen and (max-width: 1440px) {
    .biotext {
        font-size: 20px !important;
        margin-right: 0;
    }
    .registerbtn {
        margin-top: -50px;
    }
}